# PfDA Project
***

Simply put, the purpose of this project is to examine a number of variables that have a direct impact on an outcome (another variable). These variables are to be taken from real world data. An example of the minimum data required from the example given in the project description is to use at least 4 variables, e.g. 'w', 'x', 'y' and 'z' and examine their impact on an outcome variable 'v'.
A random generator is then used to simulate new data (the dice roll example taken from 'Fundamentals of Data Analytics' can be used as a reference or even the 'pie' generator once this can be linked to an outcome that will provide realistic information required for 'x', 'y' and 'z' which in turn will provide an outcome for 'v' every time the code is executed). I may build my own generator if I find I have time otherwise I may utilise one of the python packages. 
I will then analyse this data by utilising statistical models and plots available. I should also figure out which distribution is applicable.

1. Choose a data set
2. Investigate the relationship of the 4 variables to each other and to an outcome
3. Synthesize/ simulate data based on the data set - use a random generator
4. Analyse again as per point 2 and details any correlations

## 1. Choose a data set  
***

After some research into appropriate applicable data sets I have decided to research and analyse the topic of suicide. Suicide is a leading cause of death, especially among young people and what is astounding is that more people die by suicide than by homicide, in fact almost twice as many. Much of the data and information for this project was taken from OurWorldinData - https://ourworldindata.org/suicide

Huge increases have been seen in the number of deaths by suicide year on year. In 2017 around 800,000 deaths by suicide were reported. This is twice as many as the number of deaths by homicide (400,000), more than 7 times as many as the number of deaths by conflict (125,000) and around 30 times as many as the number of deaths by terrorism (25,000). By 2020 the number of deaths by suicide rose to over 1,000,000.
Suicide tends to affect more males than females and geographical location also plays a part with Europe and America most hit. Age is another big factor which seem to have a relationship to deaths by suicide.
https://apps.who.int/gho/data/node.sdg.3-4-viz-2?lang=en

A number of variables of interest were examined and compiled into a single .csv file. The figures chosen were from 2017 data sets available on the OurWorldinData link - https://ourworldindata.org/suicide
These values were taken from 3 different .csv files that were downloaded from the above site and trended the data against country (this being the common variable across the files):
1. suicide-death-rates
2. suicide-death-rates-by-sex
3. suicide-rates-by-age-detailed
These were then compiled into a single .csv file after filtering out the desired information. This .csv file is the file that will be used for the analysis of this project.
Each of the variables listed above were chosen to assess the relationships to suicide rates.

### Import Dataset

In [3]:
import pandas as pd

In [9]:
data = pd.read_csv(r"C:\Users\35387\Program\repos\gitIntro\Programming\PfDA_Project\SuicideRates.csv")
data.head()

,Country,Age: 70+ years,Age: 50-69 years,Age: 5-14 years,Age: 15-49 years,Female suicide rate \n(age-standardized),Male suicide rate \n(age-standardized),Sex: Both - Age: Age-standardized
0,Afghanistan,9.40,10.07,0.24,7.49,4.63,13.99,6.29
1,African Region (WHO),45.70,21.47,0.60,7.47,4.63,14.15,10.45
2,Albania,8.44,5.51,0.73,7.13,NaN,NaN,5.03
3,Algeria,5.52,3.53,0.27,5.20,2.94,7.35,3.55
4,American Samoa,12.46,7.47,0.54,10.70,2.23,5.99,7.44